<!DOCTYPE html>
<html>
<head>
  <title>Time-Shift</title>
  <link rel="stylesheet" href="styles.css">
  <style>
    /* Add your custom CSS styles here */
    .success-container {
      background-color: #e6f7ed;
      border: 1px solid #a3f0c4;
      padding: 20px;
      text-align: center;
      animation: fade-in 0.5s ease forwards;
    }

    .success-message {
      font-size: 24px;
      color: #26a65b;
      margin-bottom: 10px;
    }

    /* Add your custom CSS styles here */
body {
  background-color: #818080;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 15px;
  text-decoration: none;
  font-size: 18px;
  background-color: #000000;
  color: #fff;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #3c3d3c;
}

</style>
</head>
<body style="overflow-x:hidden; background-image: url(/assets/img/bg-reg4.jpg); background-size: cover;">
    <div class="success-container" style="background-color: #e0dfdf;">
    <h2 class="success-message">Password Reset Successful</h2>
    <p>Your password has been successfully reset.</p>
    <p>You can now <a href="/login" class="login-button">Login</a> with your new password.</p>
  </div>
</body>
</html>


